body
  background-size 20%
  background-position center 100px
  background-repeat no-repeat
  color rgba(255, 255, 255, .8);

/* Colors */
.green
  background-color #89c450

.orange
  background-color orange

/* Icons */
.ghost
  background-image embedurl('../../dist/svgmin.tmp/ghost.svg')

.tape
  background-image embedurl('../../dist/svgmin.tmp/tape.svg')

@import 'fonts.styl'
@import 'headlines.styl'
